if messages.errors
  .alert.alert-danger
    for error in messages.errors
      div= error
if messages.info
  .alert.alert-info
    for info in messages.info
      div= info
if messages.success
  .alert.alert-success
    for success in messages.success
      div= success
