.credits
    span(class="pull-left")
      a(href="https://github.com/mescalitog/afip-padron-A5") github
      |&vert;
      a(href="https://www.npmjs.com/package/afip-apis") afip-apis 
    a(class="pull-right" href="https://itstuff.com.ar") itstuff.com.ar
